body{

    background-color: #1f2937;
}

div{

}

/*HEADER*/
.header{
    margin: 0 10% 0 10%;
    display: flex;
    background-color: #1f2937;
    margin-bottom: 9%;
}
.header div{
    flex: 1;
}
.header-left *{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-right *{
    
    font-size: 18px;
    text-align: right;
    margin-left: 5%;
    color: #e5e7eb;
}


/*SECTION 2*/
.section-2{
    margin: 0 10% 0 10%;
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    margin-bottom: 9%;

}
.section-2 *{
    flex: 1;
    display: flex;
    flex-direction: column;
    
    margin: 0;
    color: #F9FAF8;
}
.section-2-left *{
    padding: 1% 1% 1% 0;
}
.title{
    font-size: 48px;
    font-weight: bold;
}
.description{
    font-size: 18px;
}
.sign-up{
    background-color: #3882F6;
    text-align: center;
    border-radius: 7px;
    align-self: flex-start;
    padding: 5px 20px 5px 20px;
}
.section-2-right{
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section-2-right p{
    text-align: center;
}

/* SECTION 3*/
.section-3{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 7%;
    
}
.section-3 *{
    display: flex;
}
.section-3-title{
    align-self: center;
    padding: 3%;
    font-size: 36px;
    font-weight: bold;
}
.box{
    margin: 1% 4% 4% 4%;
    display: flex;
    flex-direction: column;
}

.pic{
    border: 2px solid blue;
    width: 100%;
    height: 200px;
    border-radius: 7px;
    align-self: center;
    margin-bottom: 5px;
}
.text{
    text-align: center;
}

/*SECTION 4*/
.section-4{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 5% 20% 5% 20%;
}
.section-4 *{

}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.said-by{
    margin-top: 10px;
    text-align: end;
    font-weight: bold;
}

/*SECTION 5*/
.section-5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}
.container{
    border-radius: 7px;;
    background-color: #3882F6;
    margin: 5%;
    padding: 1% 5%;
    width: 60%;
    display: flex;
}
.container *{
    
    margin: 1%;
}
.right-description{
    flex: 5;
    color: white;

}
.signup-button{
    border: 2px solid white;
    border-radius: 7px;
    
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*Footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    color: white;
}